<div class="nav">
	<div class="container">
		<div class="user">
			<div class=" not-login">
			<a href="/login.html">亲，请登录</a>
			<a href="/register.html">免费注册</a>
			</div>
			<div class="login">
				<a href="javascript:;">
					<i class="fa fa-user"></i>
					欢迎您
				</a>
				<a href="javascript:;" id="logout">
					退出
				</a>
			</div>
		</div>
		
		<div class="nav-list">
			<ul>
				<li class="shopping-catr">
					<a href="javascript:;">
						<i class="fa fa-shopping-cart"></i>
						购物车(<span class="cart-num">0</span>)
					</a>
				</li>
				<li class="shopping-cates">
					<a href="javascript:;">
						我的订单
					</a>
				</li>
				<li class="user-center">
					<a href="javascript:;">
						个人中心
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>