<!DOCTYPE html>
<html lang="en">
<head>
	<%= require('html-loader!./common/header.html')%>
	<title><%= htmlWebpackPlugin.options.title %> -Ssite电商平台
</title>
</head>
<body>
	<%= require('html-loader!./common/nav.html')%>
	<%= require('html-loader!./common/search.html')%>
	<%= require('html-loader!./common/index.html')%>
  <div class="keyword-list">
    <div class="container clearfix">
      <div class="keywords clearfix">
        <ul class="keywordslist">

        </ul>
      </div>
      <div class="carousel clearfix">
      </div>
      <div class="floor">
        <div class="floor-item">
          <h2 class="floor-title">F1 数码</h2>
            <ul class="floor-boxes">
             <li class="floor-box">
                <p class="floor-text">手机</p>
                <img src="<%= require('../images/floor/floor_01.jpg') %>" alt="">
             </li>
            <li class="floor-box">
                <p class="floor-text">手机</p>
                <img src="<%= require('../images/floor/floor_01.jpg') %>" alt="">
             </li>
             <li class="floor-box">
                <p class="floor-text">手机</p>
                <img src="<%= require('../images/floor/floor_01.jpg') %>" alt="">
             </li>
             <li class="floor-box">
                <p class="floor-text">手机</p>
                <img src="<%= require('../images/floor/floor_01.jpg') %>" alt="">
             </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
	<%= require('html-loader!./common/footer.html')%>
</body>
</html>
