<!DOCTYPE html>
<html lang="en">
<head>
	<%= require('html-loader!./common/header.html')%>
	<title><%= htmlWebpackPlugin.options.title %> -飞猪飞MALL电商平台
</title>
</head>
<body>
	<%= require('html-loader!./common/nav.html')%>
	<%= require('html-loader!./common/search.html')%>
	<div class="user-content">
		<div class="container">
			<%= require('html-loader!./common/side.html')%>			
			<div class="content-content">
				<div class="form">
					<div class="error-text hide">
						<i class="fa fa-minus-circle"></i>
						<span class="errMessage">您输入的用户名或密码错误</span>
					</div>
					<div class="updatePassword-item">
						<i class="fa fa-lock"></i>
						<input type="password" class="login-pass" placeholder="密码" name='password'>
					</div>
					<div class="updatePassword-item">
						<i class="fa fa-lock"></i>
						<input type="password" class="login-repass" placeholder="确认密码" name='repassword'>
					</div>
					<div class="btn btn-submit" id="updatePassword">
						<a href="javascript:;">
							修改密码
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%= require('html-loader!./common/footer.html')%>
</body>
</html>